<div class="container">

  <form [formGroup]='formAluno' fxLayoutAlign='center center'>

    
    <div class="form" fxFlex fxLayout='column' fxFlex.gt-sm='50%'>
      <br>
      
      <mat-form-field>
          <input formControlName='ra' matInput placeholder="RA do Aluno">
      </mat-form-field>
      
      <mat-form-field>
        <input formControlName='nome' matInput placeholder="Nome do Aluno">
      </mat-form-field>
     
      <mat-form-field>
          <input formControlName='sobreNome' matInput placeholder="Sobrenome do Aluno">
      </mat-form-field>

      <mat-card-actions>
        <div class="container">
          <button mat-raised-button color='primary' (click)='salvarAluno()'>Salvar</button>
          <button mat-raised-button color="dark" (click)='voltar()'>Voltar</button>
        </div>
    </mat-card-actions>
    </div>
  
  </form>
</div>